
<%= form_for ([user, funeral])  do |f| %>

<div>
    <h3>Service Type</h3>
    <div>
      <p>There are many ways to gather and remember after a passing happens. There is no right or wrong way, but it's important to have an idea. Do you know what type of service you might like to have? If that's hard to think about, consider what service family/friends might like to have. </p>
      <%= f.select(:service_type, options_for_select(['Unspecified', 'Traditional Funeral', 'Viewing Only', 'Graveside Only', 'Memorial Service', 'Casual Gathering','No Service'], selected: @funeral.service_type)) %>
    </div>
    <div>
      <h5>Officiant</h5>
      <p>If you're having a service or a gathering, do you have a person in mind who you'd like to be the primary speaker?</p>
      <%= f.text_field :officiant %>
    </div>
    <div>
      <h5>Additional Speakers</h5>
      <p>Is there anyone else who you'd like to have speak at the gathering?</p>
      <%= f.text_area :eulogist_expand%>
    </div>
    <div>
      <p>Is there's anything else you'd like someone to know about your service wishes?</p>
      <%= f.text_area :service_type_expand%>
    </div>
  </div>

  <div>
    <h3>Disposition</h3>
    <div>
      <p>Disposition is the term for what will happen with someone's body after they pass away. Ultimately, people can be buried or cremated.</p>
      <p>With Burial, you're placed into the ground, most likely at a cemetery. This offers a place to visit for family and usually an accompanying servce for the Burial.</p>
      <p>With Cremation, the process turns your remains to ash that can then be scattered, placed at a cemetery to visit, or kept at home.</p>
      <p>You also have the option of a green burial, which is an environmentally conscious way of handling burial practices. Go to the Green Burial Council website for additional information. https://greenburialcouncil.org/home/what-is-green-burial/</p>  <%# make this a link %>
      <%= f.select(:disposition, options_for_select(['Burial', 'Green Burial', 'Cremation', 'Donate Body to Science', 'Burial at Sea', 'Other - Specify Below'], selected: @funeral.disposition)) %>
    </div>
    <div>
      <p>(THIS TEXT IN THE TEXT BOX?)Do you have an idea of where you'd like to buried or scattered? Is there anything else you'd like someone to know about your wishes here?</p>
      <%= f.text_area :disposition_expand%>
    </div>
  </div>

  <div>
    <h3>Funeral Home</h3>
    <p>The role of a Funeral Home is to assist in the process of helping families through many of these decisions we've gone over. They will be taking care of the disposition and, if you want, will help with the service. It's not unusual to look up funeral homes and call them for more information.</p>
    <div>
      <p>If you have a funeral home in mind, indicate it here.</p>
      <%= f.collection_select(:funeral_home_id, FuneralHome.all, :id, :name) %>
    </div>
    <div>
      <p>If it is not listed above, please submit information about your desired funeral home below.</p>
      <%= f.fields_for :funeral_home, funeral.build_funeral_home do |funeral_home_fields| %>
      <%= f.label :name %>
      <%= funeral_home_fields.text_field :name %>
      <%= f.label :phone %>
      <%= funeral_home_fields.text_field :phone %>
      <%= f.label :address %>
      <%= funeral_home_fields.text_field :address %>
      <% end %>
    </div>
    <div>Is there anything else you'd like someone to know about your funeral home preferences or arrangements?</p>
      <%= f.text_area :funeral_home_expand%>
    </div>
  </div>

  <div>
    <h3>Religion</h3>
    <p>Often, one's religious preferences will have an impact on their wishes when it comes to end of life. For example, some religions might have a timeline for when someone should be buried. Do you have a religious preference?
    <div>
      <%= f.collection_select(:religion_id, Religion.all, :id, :name) %>
    </div>
    <div>
      <p>Is there anything specific about your beliefs that would be helpful for someone to know when makeing arrangements?</p>
      <%= f.text_area :religion_expand%>
    </div>
  </div>

  <div>
    <h3>Financial Arrangments</h3>
    <p>Making preparations with a financial institution or a funeral home is a very helpful way to make sure that whoever is taking care of your arrangements is prepared. There are many different options for setting funds aside.</p>
    <div>
      <p>Have you made any financial arrangements already that someone should know about?</p>
      <%= f.select(:financial_plan, options_for_select(['I have not yet made financial arrangements', 'Funeral Trust', 'Pre-Need Arrangments Through Funeral Home', 'Cemetery Plot', 'Funeral Insurance','Other - Specify Below'])) %>
    </div>
    <div>
      <p>Is there any other information about those arrangements that someone should know about?</p>
      <%= f.text_area :financial_plan_expand%>
    </div>
  </div>

  <div>
    <h3>Other Wishes</h3>
    <p>As ways to engage with a person's passing can vary widely, is there anything that might be important for you that we didn't specify here? For example - You'd like your family to get together or there's specific music you'd like to have played.</p>
    <%= f.text_area :general_expand%>
  </div>

  <div>
    <%= f.submit "Submit Funeral Preferences" %>
  </div>

<% end %>
