
<%= form_for ([user, funeral])  do |f| %>

<div>
    <h3>Service Type</h3>
    <div>
      <p>What type of service would you like to have? You can begin learning more about your options <a href="http://www.nfda.org/consumer-resources/planning-a-funeral/service-options-types-of-tributes">here</a>. </p>
      <%= f.select(:service_type, options_for_select(['Unspecified', 'Traditional Funeral', 'Viewing Only', 'Graveside Only', 'Memorial Service', 'Casual Gathering','No Service'], selected: @funeral.service_type)) %>
    </div>
    <div>
      <h5>Officiant</h5>
      <p>If you're having a service or a gathering, who will be the primary speaker? Members of the clergy often play this role, but that is not required.</p>
      <%= f.text_field :officiant %>
    </div>
    <div>
      <h5>Additional Speakers</h5>
      <p>Who else would you like to have speak?</p>
      <%= f.text_area :eulogist_expand%>
    </div>
    <div>
      <p>Is there's anything else you'd like express about your service wishes?</p>
      <%= f.text_area :service_type_expand%>
    </div>
  </div>

  <hr class="my-4">

  <div>
    <h3>Disposition</h3>
    <div>
      <p>"Disposition" is the term for what will be done with one's body after passing&mdash;either cremation or burial.</p>
      <p>With burial, one's is placed in a grave, most likely at a cemetery. Gravesites offer a place for family and friends to visit. Accompanying services are usually held at the gravesite.You also have the option of a green burial, an environmentally conscious way of handling burial practices. Visit the <a href="https://greenburialcouncil.org/home/what-is-green-burial/">Green Burial Council</a> for additional information.</p>
      <p>Cremation reduces your remains to ash that can either be scattered, housed at a cemetery, or kept at home.</p>
      <%= f.select(:disposition, options_for_select(['Burial', 'Green Burial', 'Cremation', 'Donate Body to Science', 'Burial at Sea', 'Other - Specify Below'], selected: @funeral.disposition)) %>
    </div>
    <div>

      <%= f.text_area :disposition_expand, placeholder: "Do you have an idea of where you'd like to buried or scattered? Is there anything else you'd like someone to know about your wishes here?"%>
    </div>
  </div>

  <hr class="my-4">

  <div>
    <h3>Funeral Home</h3>
    <p>The role of a Funeral Home is to assist in the process of helping families through many of these decisions we've gone over. They will be taking care of the disposition and, if you want, will help with the service. It's not unusual to look up funeral homes and call them for more information.</p>
    <div>
      <p>If you have a funeral home in mind, indicate it here.</p>
      <%= f.collection_select(:funeral_home_id, FuneralHome.all, :id, :name) %>
    </div>
    <div>
      <p>If it is not listed above, please submit information about your desired funeral home below.</p>
      <%= f.fields_for :funeral_home, funeral.build_funeral_home do |funeral_home_fields| %>
      <%= f.label :name %>
      <%= funeral_home_fields.text_field :name %>
      <%= f.label :phone %>
      <%= funeral_home_fields.text_field :phone %>
      <%= f.label :address %>
      <%= funeral_home_fields.text_field :address %>
      <% end %>
    </div>
    <div>Is there anything else you'd like someone to know about your funeral home preferences or arrangements?</p>
      <%= f.text_area :funeral_home_expand%>
    </div>
  </div>

  <hr class="my-4">

  <div>
    <h3>Religion</h3>
    <p>Often, one's religious preferences will have an impact on their wishes when it comes to end of life. For example, some religions might have a timeline for when someone should be buried. Do you have a religious preference?
    <div>
      <%= f.collection_select(:religion_id, Religion.all, :id, :name) %>
    </div>
    <div>
      <p>Is there anything specific about your beliefs that would be helpful for someone to know when makeing arrangements?</p>
      <%= f.text_area :religion_expand%>
    </div>
  </div>

  <hr class="my-4">

  <div>
    <h3>Financial Arrangments</h3>
    <p>Making preparations with a financial institution or a funeral home is a very helpful way to make sure that whoever is taking care of your arrangements is prepared. There are many different options for setting funds aside.</p>
    <div>
      <p>Have you made any financial arrangements already that someone should know about?</p>
      <%= f.select(:financial_plan, options_for_select(['I have not yet made financial arrangements', 'Funeral Trust', 'Pre-Need Arrangments Through Funeral Home', 'Cemetery Plot', 'Funeral Insurance','Other - Specify Below'])) %>
    </div>
    <div>
      <p>Is there any other information about those arrangements that someone should know about?</p>
      <%= f.text_area :financial_plan_expand%>
    </div>
  </div>

  <hr class="my-4">

  <div>
    <h3>Other Wishes</h3>
    <p>As ways to engage with a person's passing can vary widely, is there anything that might be important for you that we didn't specify here? For example - You'd like your family to get together or there's specific music you'd like to have played.</p>
    <%= f.text_area :general_expand%>
  </div>

  <hr class="my-4">

  <div>
    <%= f.submit "Submit Preferences", type: "button", class: "btn btn-primary btn-lg btn-block" %>
  </div>

<% end %>
