<h2>Statistics</h2>

<h3>Our User's Top Ten Funeral Homes:</h3>

<ul>
  <% @funeral_hash[0..10].each do |name, count| %>
   <li><%= name %>: <%= ((count.to_f/@total_count_of_funerals.to_f).round(2) * 100).to_i%>% </li>
  <% end %>
</ul>

<h3>Our User's Dispotion Preferences: </h3>

<ul>
  <% @disposition_hash[0..10].each do |name, count| %>
      <li><%= name %>: <%= ((count.to_f/@total_count_of_users.to_f).round(2) * 100).to_i%>% </li>
  <% end %>
</ul>

<h3>Our User's Disposition Preferences by Religion: </h3>
<ul>
  <% @disposition_by_religion.each do |religion, disp_hash| %>
    <li><strong><%= religion %>: </strong></li>
    <% disp_hash.each do |disp, count| %>
      <ul>
      <li><%= disp %>: <%= ((count.to_f/@religion_hash[religion].to_f).round(2) * 100).to_i%>% </li>
      </ul>

    <% end %>
  <% end %>
</ul>

<h3>Distribution of Service Types Chosen On This Site</h3>
<ul>
  <% @service_type_hash.each do |name, count| %>
   <li><%= name %>: <%= ((count.to_f/@total_count_of_funerals.to_f).round(2) * 100).to_i%>% </li>
  <% end %>
</ul>

<br><br><br>
EDIT THIS!
<h3>Service Type by Religion:</h3>
<ul>
  <% @service_type_religion.each do |services, religion_hash| %>
    <li><strong><%= services %>: </strong></li>
    <% religion_hash.each do |religion, count| %>
      <ul>
      <li><%= religion %>: <%= ((count.to_f/@religion_hash[religion].to_f).round(2) * 100).to_i%>% </li>
      </ul>

    <% end %>
  <% end %>
</ul>
