
<%= form_for @funeral  do |f| %>
  <div>
    <h3>Funeral Disposition</h3>
    <p>You will need to choose between a burial or cremation. With a burial your body is interred in the ground either with or without embalming. With a cremation your body is cremated to ash and the remains are placed in a container of your choice.You also have the option of a green burial, which is an environmentally conscious way of handling your deceased body. Go to the Green Burial Council website for additional information.</p>
    <%= f.label :disposition %>
    <%= f.select(:disposition, options_for_select(['Burial', 'Green Burial', 'Cremation', 'Donate Body to Science', 'Burial at Sea', 'Other'])) %>
  </div>
  <div>
    <%= f.label :disposition %>
    <%= f.text_field :disposition%>
  </div>
  <div>
    <h3>Officiant</h3>
    <p>Who do you want to officiate your service?</p>
    <%= f.label :officiant %>
    <%= f.text_field :officiant %>
  </div>
  <div>
    <h3>Eulogists</h3>
    <p>Name one or two people you would like to speak at your funeral.</p>
    <%= f.label :eulogist_1 %>
    <%= f.text_field :eulogist_1 %>
  </div>
  <div>
    <%= f.label :eulogist_2 %>
    <%= f.text_field :eulogist_2 %>
  </div>
  <div>
    <h3>Service Type</h3>
    <p>What type of service would you like to have?</p>
    <%= f.label :service_type %>
    <%= f.select(:service_type, options_for_select(['Traditional Funeral', 'Viewing Only', 'Witness Cremation', 'Graveside Only', 'Memorial Service', 'Casual Gathering','No Service'])) %>
  </div>
  <div>
    <%= f.label :religion %>
    <%= f.collection_select(:religion_id, Religion.all, :id, :name, prompt: true) %>
  </div>
  <div>
    <h3>Funeral Home</h3>
    <p>If you have a funeral home in mind, indicate it here.</p>
    <%= f.label :funeral_home %>
    <%= f.collection_select(:funeral_home_id, FuneralHome.all, :id, :name, :include_blank => true) %>
    <p>If it is not listed above, please submit information about your desired funeral home below.</p>
    <%= f.fields_for :funeral_home, @funeral.build_funeral_home do |funeral_home_fields| %>
    <%= f.label :name %>
    <%= funeral_home_fields.text_field :name %>
    <%= f.label :phone %>
    <%= funeral_home_fields.text_field :phone %>
    <%= f.label :address %>
    <%= funeral_home_fields.text_field :address %>
    <% end %>
  </div>
  <div>
    <br>
    <%= f.submit "Submit Funeral Preferences" %>
  </div>
<% end %>
