
<h2>Your Funeral Preferences:</h2>

<div>
  Disposition: <%= @funeral.disposition %>
</div>
<div>
  Additional Disposition Details: <%= @funeral.disposition_expand %>
</div>
<div>
  Officiant: <%= @funeral.officiant %>
</div>
<div>
  Additional Officiant Details: <%= @funeral.officiant_expand %>
</div>
<div>
  Eulogist: <%= @funeral.eulogist_1 %>
</div>
<div>
  Eulogist <%= @funeral.eulogist_2 %>
</div>
<div>
  Additional Eulogist Details: <%= @funeral.eulogist_expand %>
</div>
<div>
  Service Type: <%= @funeral.service_type %>
</div>
<div>
<div>
  Additional Serive Type Details: <%= @funeral.service_type_expand %>
</div>
  Religion: <%= @funeral.religion.name %>
</div>
<div>
  Additional Religion Details: <%= @funeral.religion_expand %>
</div>
<div>
  Funeral Home Name: <%= @funeral.funeral_home.name %> <br>
  Funeral Home Phone: <%= @funeral.funeral_home.phone %><br>
  Funeral Home Address: <%= @funeral.funeral_home.address %>
</div>
<div>
  Additional Funeral Home Details: <%= @funeral.funeral_home_expand %>
</div>
<div>
  Financial Plan: <%= @funeral.financial_plan %>
</div>
<div>
  Additional Financial Plan Details: <%= @funeral.financial_plan_expand %>
</div>
<div>
  Other Wishes: <%= @funeral.general_expand %>
</div>
<%= form_tag edit_funeral_path(@funeral), action: edit_funeral_path, method: "Get" do %>
  <%= submit_tag "Edit Funeral Preferences" %>
<% end %>

<%= form_tag funeral_path(@funeral), method: "Delete" do %>
  <%= submit_tag "Delete Funeral Preferences" %>
<% end %><br>
