
<h2> <%= @user.username.capitalize %>'s Homepage</h2>

<div class="card-deck">
  <% if @user.contacts.empty? && !@user.funeral%>
    <%= render partial: "users/start_card.html.erb", locals: { object: @user } %>
    <%= render partial: "users/view_funeral_statistics_card.html.erb", locals: { object: @user } %>



  <% elsif !@user.contacts.empty? && !@user.funeral%>
<<<<<<< HEAD
    <%= link_to "Create Funeral Preferences", new_user_funeral_path(@user, @user.funeral) %><br><br>
    <%= link_to "Your Contacts", user_contacts_path(@user) %>
=======
    <%= render partial: "users/create_funeral_card.html.erb", locals: { object: @user } %>
    <%= render partial: "users/view_contacts_card.html.erb", locals: { object: @user } %>

>>>>>>> 160e061c2485740dd5c4329c5dbf285ad035eacc

  <% elsif @user.contacts.empty? && @user.funeral%>
    <%= render partial: "users/view_funeral_card.html.erb", locals: { object: @user } %>
    <%= render partial: "users/create_contacts_card.html.erb", locals: { object: @user } %>
    <%= render partial: "users/view_funeral_statistics_card.html.erb", locals: { object: @user } %>

  <% elsif !@user.contacts.empty? && @user.funeral%>
    <%= render partial: "users/summary_card.html.erb", locals: { object: @user } %>

    <%= render partial: "users/view_funeral_statistics_card.html.erb", locals: { object: @user } %>

  <% end %>

</div>
