<div class="menu">
  <h2>Homepage</h2>

  <% if @user.agents.empty? && !@user.funeral%>

    <%= link_to "Start Here", new_funeral_path %>


  <% elsif !@user.agents.empty? && !@user.funeral%>

    <%= link_to "Specify Your Funeral Preferences", new_funeral_path(@user) %><br><br>
    <%= link_to "Summary of Your Preferences", agents_path(@user) %>

  <% elsif @user.agents.empty? && @user.funeral%>

    <%= link_to "Specify Your Contacts", new_agent_path(@user) %><br><br>
    <%= link_to "Summary of Your Preferences", funeral_path(@user) %>

  <% elsif !@user.agents.empty? && @user.funeral%>

    <%= link_to "Summary of Your Preferences", users_summary_path %>
  <% end %>

  <br><br>

  <%= link_to("See Funeral Preference Statistics", funerals_path) %>

</div>
