<div class="menu">
  <h2>Homepage</h2>

  <% if @user.contacts.empty? && !@user.funeral%>
    <%= link_to "Start Here", new_funeral_path %>

  <% elsif !@user.contacts.empty? && !@user.funeral%>
    <%= link_to "Create Funeral Preferences", new_funeral_path(@user) %><br><br>
    <%= link_to "Your Contacts", contacts_path(@user) %>

  <% elsif @user.contacts.empty? && @user.funeral%>
    <%= link_to "Your Funeral Preferences", funeral_path(@user) %><br><br>
    <%= link_to "Create Contacts", new_contact_path(@user) %>

  <% elsif !@user.contacts.empty? && @user.funeral%>
    <%= link_to "Your Funeral Preferences", funeral_path(@user) %><br><br>
    <%= link_to "Your Contacts", contacts_path(@user) %><br><br>
    <%= link_to "Summary of Your Preferences", users_summary_path %>

  <% end %>

  <br><br>

  <%= link_to("See Funeral Preference Statistics", funerals_path) %>

</div>
