<h2>User Summary</h2>

  <h3><%= @user.username%>'s Contacts:</h3>

  <ul>
    <% @user.agents.each do |agent| %>
      <li><%= link_to agent.name, agent %> // Email: <%= agent.email %></li>
    <% end %>
  </ul>

  <%= render partial: "shared/crud_button", locals: {path: new_agent_path(@user), method: "GET", value: "Create a New Contact"} %>

  <%= render partial: "shared/funerals_show.html.erb", locals: { funeral: @funeral } %>
