<h2>Please Login</h2>

<div class="login">
  <%= form_tag(access_attempt_login_path, :method => :post) do %>
  <table>
    <tr>
      <td><%= label_tag(:username) %></td>
      <td><%= text_field_tag(:username, params[:username]) %></td>
    </tr>
    <tr>
      <td><%= label_tag(:password) %></td>
      <td><%= password_field_tag(:password) %></td>
    </tr>
    <tr>
      <td>&nbsp;</td>
      <td><%= submit_tag("Log In") %></td>
    </tr>
  </table>
  <% end %>
</div>
<div class="top-margin">
<p>Don't have an account yet? Create your account today!</p>
</div>

<div class="col-2">
  <a href="/users/new" class="btn btn-outline-primary" role="button" aria-pressed="true">Create New User</a>
</div>
