<h3><%= @user.username%>'s Funeral Preferences:</h3>

<div>
  Disposition: <%= funeral.disposition %>
</div>
<div>
  Additional Disposition Details: <%= funeral.disposition_expand %>
</div>
<div>
  Officiant: <%= funeral.officiant %>
</div>
<div>
  Additional Officiant Details: <%= funeral.officiant_expand %>
</div>
<div>
  Eulogist: <%= funeral.eulogist_1 %>
</div>
<div>
  Eulogist <%= funeral.eulogist_2 %>
</div>
<div>
  Additional Eulogist Details: <%= funeral.eulogist_expand %>
</div>
<div>
  Service Type: <%= funeral.service_type %>
</div>
<div>
<div>
  Additional Service Type Details: <%= funeral.service_type_expand %>
</div>
  Religion: <%= funeral.religion.name %>
</div>
<div>
  Additional Religion Details: <%= funeral.religion_expand %>
</div>
<div>
  Funeral Home Name: <%= funeral.funeral_home.name %> <br>
  Funeral Home Phone: <%= funeral.funeral_home.phone %><br>
  Funeral Home Address: <%= funeral.funeral_home.address %>
</div>
<div>
  Additional Funeral Home Details: <%= funeral.funeral_home_expand %>
</div>
<div>
  Financial Plan: <%= funeral.financial_plan %>
</div>
<div>
  Additional Financial Plan Details: <%= funeral.financial_plan_expand %>
</div>
<div>
  Other Wishes: <%= funeral.general_expand %>
</div>

<div class="button">
<%= render partial: "shared/crud_button", locals: {path: edit_user_funeral_path(@user, @user.funeral), method: "GET", value: "Edit Funeral Preferences"} %>
</div>
<div class="button">
<%= render partial: "shared/crud_button", locals: {path: user_funeral_path(@user, @user.funeral), method: "DELETE", value: "Delete Funeral Preferences"} %>
</div>

<% if @user.funeral.created_at == @user.funeral.updated_at %>
  <p class="card-text"><small class="text-muted"> <%= @user.funeral.created_at.strftime("Created on %m/%d/%Y, at %l:%M %p %Z") %></small></p>
<% else %>
  <p class="card-text"><small class="text-muted"> <%= @user.funeral.updated_at.strftime("Last updated on %m/%d/%Y, at %l:%M %p %Z") %></small></p>
<% end %>
