<h2><%= @agent.name %></h2>
<h3><%= @agent.email %></h3>
Contact for: <%= @agent.user.username %><br><br>

<%= render partial: "shared/crud_button", locals: {path: edit_agent_path(@agent), method: "GET", value: "Edit Contact"} %>
<%= render partial: "shared/crud_button", locals: {path: agent_path(@agent), method: "DELETE", value: "Delete Contact"} %>
