<h3><%= @user.username%>'s Contacts:</h3>

<div>
  <% @user.contacts.each do |contact| %>
  <div>
    <%= contact.name %> // Email: <%= contact.email %> <%= render partial: "shared/crud_button", locals: {path: edit_user_contact_path(@user, contact), method: "GET", value: "Edit Contact"} %>
    <%= render partial: "shared/crud_button", locals: {path: user_contact_path(@user, contact), method: "DELETE", value: "Delete Contact"} %><br>
  </div>
  <% end %>
</div>
