<h2><%= @contact.name %></h2>
<h3><%= @contact.email %></h3>
Contact for: <%= @contact.user.username %><br><br>

<%= render partial: "shared/crud_button", locals: {path: edit_user_contact_path(@user, @contact), method: "GET", value: "Edit Contact"} %>
<%= render partial: "shared/crud_button", locals: {path: user_contact_path(@user, @contact), method: "DELETE", value: "Delete Contact"} %>
