<!DOCTYPE html>
<html>
  <head>
    <title>FuneralPlanning</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

    <div id="header">
      <h1>Funeral Planning</h1>
    </div>
  <div class="container">

    <% if session[:user_id] %>
      <% if @page == "menu" %>
      <% else %>
        <div class="backlink">
          <%= link_to("<< Back to Menu", home_path, :class => 'back-link') %>
        </div>
      <% end %>
    <% end %>
    <div id="main">
      <% if !flash[:notice].blank? %>
        <div class="notice">
          <%= flash[:notice] %>
        </div>
      <% end %>

      <div id="content">

        <%= yield %>
      </div>
    </div>
  </div>

    <div id="footer">
      <% if session[:user_id] %>
        <p><%= link_to("Logout", access_logout_path) %></p>
      <% end %>
    </div>
  </body>
</html>
